@model AboutMe

@{
    Layout = "_Layout1";
}

<div class="col-lg-16 sticky-widget" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                        
                    <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;"><div class="blog blog-single">
                            <div class="section-wrapper">
                                <div class="post-item">
                                    <div class="post-inner">
                                        <div class="post-thumb">
                                            <img src="~/DytIpekTemplate/EnviShare/assets/images/blog/03.jpg" alt="blog">
                                        </div>
                                        <div class="post-content d-flex flex-wrap">
                                            <div class="content-part">
                                                <div class="entry-header">
                                                    <h3>@*@Model.Titlee*@</h3>
                                                </div>

                                            </div>

                                            <div class="tags-section">
                                                <ul class="tags">
                                                    <li><a href="#"><h4>Diyetisyen</h4></a></li>
                                                    <li><a href="#"><h3>İpek Bilal</h3></a></li>
                                                    <li><a href="#"><h3></h3></a></li>

                                                </ul>
                                                <ul class="social-link-list d-flex flex-wrap">
                                                    <li>
                                                        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="google"><i class="fab fa-google"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div></div>