
@{
    Layout = "_Layout1";
}
<div class="body-wrapper">
        <!-- mobile menu start -->
        <div class="mobile-menu">
            <nav class="mobile-header primary-menu d-xl-none">
                <div class="header-logo">
                    <a href="index.html" class="logo"><img src="~/DytIpekTemplate/EnviShare/assets/images/logo/01.png" alt="logo"></a>
                </div>
                
            </nav>
            
        </div>
        <!-- moboli menu ending -->


        <!-- header section start -->
      
        <!-- header section ending -->


        <!-- page header section start here -->
        <section class="page-header">
            <div class="page-header-area">
                <div class="container">
                    <div class="page-header-content">
                        <div class="page-header-title">
                            <h2>Our Project</h2>
                            <h2><span>Most Popular Projects style 2</span></h2>
                        </div>
                        <ul class="breadcamp">
                            <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                            <li><a href="#">Project</a></li>
                            <li><a class="active">Project style 2</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- page header section ending here -->


        <!-- campaign section start -->
        <section class="campaign-section style-two style-three style-four padding-tb">
            <div class="container">
                <div class="section-wrapper">
                    <div class="post-item aos-init aos-animate" data-aos="fade-left" data-aos-duration="700">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#"><img src="~/DytIpekTemplate/EnviShare/assets/images/campaign/project/01.jpg" alt="campaign"></a>
                                <p>
                                    <a href="~/DytIpekTemplate/EnviShare/assets/images/campaign/project/01.jpg" data-rel="lightcase"><i class="fab fa-searchengin"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="post-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="700">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#"><img src="~/DytIpekTemplate/EnviShare/assets/images/campaign/project/02.jpg" alt="campaign"></a>
                                <p>
                                    <a href="~/DytIpekTemplate/EnviShare/assets/images/campaign/project/02.jpg" data-rel="lightcase"><i class="fab fa-searchengin"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="post-item aos-init" data-aos="fade-right" data-aos-duration="700">
                        <div class="post-inner">
                            <div class="post-thumb">
                                <a href="#"><img src="~/DytIpekTemplate/EnviShare/assets/images/campaign/project/03.jpg" alt="campaign"></a>
                                <p>
                                    <a href="~/DytIpekTemplate/EnviShare/assets/images/campaign/project/03.jpg" data-rel="lightcase"><i class="fab fa-searchengin"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- campaign section ending here -->
        

        <!-- footer section start here -->
        
        <!-- footer section end here -->
    </div>