@{

    Layout="_Layout1";

}
<html lang="en"><head><style>.gm-control-active>img{box-sizing:content-box;display:none;left:50%;pointer-events:none;position:absolute;top:50%;transform:translate(-50%,-50%)}.gm-control-active>img:nth-child(1){display:block}.gm-control-active:focus>img:nth-child(1),.gm-control-active:hover>img:nth-child(1),.gm-control-active:active>img:nth-child(1),.gm-control-active:disabled>img:nth-child(1){display:none}.gm-control-active:focus>img:nth-child(2),.gm-control-active:hover>img:nth-child(2){display:block}.gm-control-active:active>img:nth-child(3){display:block}.gm-control-active:disabled>img:nth-child(4){display:block}
</style><link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400&amp;lang=en"><link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Google+Sans+Text:400&amp;text=%E2%86%90%E2%86%92%E2%86%91%E2%86%93&amp;lang=en"><style>.gm-ui-hover-effect{opacity:.6}.gm-ui-hover-effect:hover{opacity:1}.gm-ui-hover-effect>span{background-color:#000} (forced-colors:active),(prefers-contrast:more){.gm-ui-hover-effect>span{background-color:ButtonText}}
</style><style>.gm-style .gm-style-cc a,.gm-style .gm-style-cc button,.gm-style .gm-style-cc span,.gm-style .gm-style-mtc div{font-size:10px;box-sizing:border-box}.gm-style .gm-style-cc a,.gm-style .gm-style-cc button,.gm-style .gm-style-cc span{outline-offset:3px}
</style><style> print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }} screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style><style>.dismissButton{background-color:#fff;border:1px solid #dadce0;color:#1a73e8;border-radius:4px;font-family:Roboto,sans-serif;font-size:14px;height:36px;cursor:pointer;padding:0 24px}.dismissButton:hover{background-color:rgba(66,133,244,.04);border:1px solid #d2e3fc}.dismissButton:focus{background-color:rgba(66,133,244,.12);border:1px solid #d2e3fc;outline:0}.dismissButton:focus:not(:focus-visible){background-color:#fff;border:1px solid #dadce0;outline:none}.dismissButton:focus-visible{background-color:rgba(66,133,244,.12);border:1px solid #d2e3fc;outline:0}.dismissButton:hover:focus{background-color:rgba(66,133,244,.16);border:1px solid #d2e2fd}.dismissButton:hover:focus:not(:focus-visible){background-color:rgba(66,133,244,.04);border:1px solid #d2e3fc}.dismissButton:hover:focus-visible{background-color:rgba(66,133,244,.16);border:1px solid #d2e2fd}.dismissButton:active{background-color:rgba(66,133,244,.16);border:1px solid #d2e2fd;box-shadow:0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15)}.dismissButton:disabled{background-color:#fff;border:1px solid #f1f3f4;color:#3c4043}
</style><style>.gm-style-moc{background-color:rgba(0,0,0,.45);pointer-events:none;text-align:center;transition:opacity ease-in-out}.gm-style-mot{color:white;font-family:Roboto,Arial,sans-serif;font-size:22px;margin:0;position:relative;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%)}
</style><style>.gm-style img{max-width: none;}.gm-style {font: 400 11px Roboto, Arial, sans-serif; text-decoration: none;}</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EnviShare - Contact-Us</title>

    <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,400,500,700,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <link rel="shortcut icon" href="~/DytIpekTemplate/assets/css/favicon.png">
    <link rel="stylesheet" href="~/DytIpekTemplate/assets/css/animate.css">
    <link rel="stylesheet" href="~/DytIpekTemplate/assets/css/aos.css">
    <link rel="stylesheet" href="~/DytIpekTemplate/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/DytIpekTemplate/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/DytIpekTemplate/assets/css/lightcase.css">
    <link rel="stylesheet" href="~/DytIpekTemplate/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/DytIpekTemplate/assets/css/slick.css">
    <link rel="stylesheet" href="~/DytIpekTemplate/assets/css/slick-theme.css">
    <link rel="stylesheet" href="~/DytIpekTemplate/assets/css/style.css">
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/49/2/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/49/2/util.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/49/2/map.js"></script><style id="theia-sticky-sidebar-stylesheet-TSS">.theiaStickySidebar:after {content: ""; display: table; clear: both;}</style><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/49/2/stats.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/49/2/onion.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/49/2/controls.js"></script><style id="inert-style">
[inert] {
  pointer-events: none;
  cursor: default;
}

[inert], [inert] * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
</style></head>
<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" class="body-padding">
    <!-- search area -->
    <div class="search-area">
        <div class="search-input">
            <div class="search-close">
                <span></span>
                <span></span>
            </div>
            <form>
                <input type="text" name="text" placeholder="*Search Here.......">
            </form>
        </div>
    </div>
    <!-- search area -->

    <div class="body-wrapper">
        <!-- header section start -->
      
        <!-- header section ending -->


        <!-- page header section start here -->
        <section class="page-header">
            <div class="page-header-area">
                <div class="container">
                    <div class="page-header-content">
                        <div class="page-header-title">
                            <h2>Our Contact info</h2>
                        </div>
                        <ul class="breadcamp">
                            <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                            <li><a class="active">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- page header section ending here -->


        <!-- contact us section start here -->
        <section class="contact-us padding-tb">
            <div class="container">
                <div class="row no-gutters section-wrapper">
                    <div class="col-lg-6">
                        <div class="row no-gutters">
                            <div class="col-sm-6">
                                <div class="rounch-addres">
                                    <div class="contact-title">
                                        <h4>İLETİŞİM</h4>
                                    </div>
                                    <div class="contact-body">
                                        <ul>
                                            <li>
                                                <h6>İŞ YERİ ADRESİ</h6>
                                                <p>Cassaba modern b blok kat 2 daire 206 Tepebaşı/ESKİŞEHİR</p>
                                                </br>

                                            </li>
                                            <li>
                                                <h6>GSM NO</h6>
                                                <p>+90 531 505 2949</p>
                                            </li>
                                                </br>

                                            <li>
                                                <h6>E-POSTA</h6>
                                                <a href="#">dytipekbilal@gmail.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-area">
                            <div class="contact-title">
                                <h4>RANDEVU ALIN</h4>
                            </div>
                            <div id="respond" class="comment-respond">
                                <div class="add-comment">
                                    <form action="#" method="post" id="commentform" class="comment-form">
                                        <input name="name" type="text" value="" placeholder="İSİM">
                                        <input name="phone" type="tel" value="" placeholder="GSM NO.">
                                        <input name="url" type="text" value="" placeholder="KONU">
                                        <textarea id="comment-reply" name="comment" rows="9" placeholder="SIKINTILARINIZDAN BAHSEDİN"></textarea>
                                        <button type="submit">
                                            <div class="custom-btn">
                                                <span>GÖNDER</span><i class="fas fa-angle-double-right"></i>
                                            </div>
                                        </button>
                                    </form>
                                </div>			
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- contact us section ending here -->


        <!-- gmap section start here -->
        <div class="gmaps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3066.018100164014!2d30.497580515376796!3d39.78414917944358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdb65386fe407356d!2zMznCsDQ3JzAyLjkiTiAzMMKwMjknNTkuMiJF!5e0!3m2!1sen!2str!4v1654261695368!5m2!1sen!2str" width="1600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- gmap section ending here -->

        

        <!-- footer section start here -->
      
        <!-- footer section end here -->
    </div>


    <!-- scroll to top -->
    <a href="#" class="scrollToTop" style="display: inline-block;"><i class="fas fa-angle-up"></i></a>
    <!-- scroll to top -->


    <script src="~/DytIpekTemplate/assets/js/jquery.js"></script>
    <script src="~/DytIpekTemplate/assets/js/waypoints.min.js"></script>
    <script src="~/DytIpekTemplate/assets/js/bootstrap.min.js"></script>
    <script src="~/DytIpekTemplate/assets/js/fontawesome.min.js"></script>
    <script src="~/DytIpekTemplate/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/DytIpekTemplate/assets/js/lightcase.js"></script>
    <script src="~/DytIpekTemplate/assets/js/jquery.counterup.min.js"></script>
    <script src="~/DytIpekTemplate/assets/js/swiper.min.js"></script>
    <script src="~/DytIpekTemplate/assets/js/progress.js"></script>
    <script src="~/DytIpekTemplate/assets/js/aos.js"></script>
    <script src="~/DytIpekTemplate/assets/js/wow.min.js"></script>
    <script src="~/DytIpekTemplate/assets/js/map-custom.js"></script>
    <script src="~/DytIpekTemplate/assets/js/slick.min.js"></script>
    <script src="~/DytIpekTemplate/assets/js/theia-sticky-sidebar.js"></script>
    <script src="~/DytIpekTemplate/assets/js/functions.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQlXnmyNPAeN3c3HNyWoUMqDk6bDF31Cg&amp;callback=initMap"></script>


<!-- Visual Studio Browser Link -->
<script type="text/javascript" src="https://localhost:44399/42e4c0ff1c0b4a50825049757bb22205/browserLink" async="async" id="__browserLink_initializationData" data-requestid="8e5905b44d594bcb91c97838153663d2" data-requestmappingfromserver="False"></script>
<!-- End Browser Link -->

<script src="/_framework/aspnetcore-browser-refresh.js"></script>
<live-preview-root></live-preview-root></body></html>