

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout1";
}

<!-- mobile menu start -->
<section class="banner" style="background-image: url(~/DytIpekTemplate/EnviShare/assets/images/banner/bg-image.jpg); background-size: cover;">
            <div class="banner-shape_1 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.1s; animation-name: fadeInUp;">
                <img src="~/DytIpekTemplate/EnviShare/assets/images/banner/shape.png" alt="banner-shape">
            </div>
            <div class="banner-shape_2 wow fadeInDown" data-wow-duration="3s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 3s; animation-delay: 0.1s; animation-name: fadeInDown;">
                <img src="~/DytIpekTemplate/EnviShare/assets/images/banner/shape2.png" alt="banner-shape">
            </div>
            <div class="banner-shape_3 wow fadeInRight" data-wow-duration="4s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 4s; animation-delay: 0.1s; animation-name: fadeInRight;">
                <img src="~/DytIpekTemplate/EnviShare/assets/images/banner/shape3.png" alt="banner-shape">
            </div>
            <div class="banner-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-xl-6 col-xxl-4 col-md-10 col-12">
                            <div class="banner-content">
                                <div class="banner-heading">
                                    <h2><span>Sağlıklı Yaşama </span></h2>
                                    <h2>Hoş Geldiniz</h2>
                                </div>
                                <p></p>
                                <a href="#" class="custom-btn">Hemen Randevu Al <i class="fas fa-pen"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

